<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  Do you want to add a new task?
  <p><a href="add_task">
    <input type="button" value="Add Task"/>
  </a></p>
  View available tasks
  <p><a href="view_tasks">
    <input type="button" value="View tasks"/>
  </a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  <p>Don't you have an account yet? Sign-up now!</p>
  <a href="{% url 'signup' %}">Register</a>
{% endif %}
{% endblock %}