<body>
    <h1>All tasks</h1>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
</style>
    <table style="width: 100%">
        <tr>
            <th>Id</th>
            <th>Start time</th>
            <th>Location</th>
            <th>Description</th>
            <th>Reward</th>
            <th>Owner</th>
        </tr>
    {% for task in tasks %}
        <tr>
            <th> {{ task.name }} </th>
            <th> {{ task.starttime }} </th>
            <th> {{ task.location }} </th>
            <th> {{ task.description }} </th>
            <th> {{ task.reward }} </th>
            <th> {{ task.owner }} </th>
        </tr>
    {% endfor %}
    </table>
    </body>
</html>